// Variables.
$color-white: rgb(250, 250, 250);
$color-black: rgb(50, 50, 50);
$color-salmon: #f15656;
$color-green: #95dc5f;

body {
    margin: 0px;
    line-height: 1.5em
}

body, input, textarea, button {
    font-family: 'Roboto', Sans Serif;
    font-size: 20px;
    color: $color-black;
}


* {
    box-sizing: border-box;
    word-wrap: break-word;
}

a {text-decoration: none;color: $color-green;}

button, a.button {
    display: inline-block;
    padding: 16px 32px;
    min-width: 100px;
    font-size: 20px;
    background-color: $color-green;
    cursor: pointer;
    outline: none;
    color: white;
    color: #661A1A;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 6px;
    transition: color 0.2s ease-out;
    box-shadow: -1px 1px 6px -1px rgba(0, 0, 0, 0.1);
}

input {
    background: none;
    border: none;
    outline: none;
}

h1, h2, h3 {font-weight: normal;}

h2 {
    font-size: 36px;
    line-height: 1.2em;
}

hr {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 1px rgba(0, 0, 0, 0.1);
}

section {
    width: 100%;
    padding: 32px 16px;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 750px;
}

// <Header>
header {
    width: 100%;
    padding: 16px;
    opacity: 0.2;
    h1 {font-size: 14px;margin: 0px;line-height: 1.5em;}
    p {font-size: 12px;margin: 0px;line-height: 1.5em;}
    &:hover {opacity: 1;}
}

// <Footer>
footer {
    width: 100%;
    padding: 32px 16px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5em;
    div.container > * {display: inline-block;vertical-align: middle;}
    div.container > a {margin-right: 16px;}
}

// <ContributePage>
.contributepage {
    section:first-child {
        color: $color-white;
        background-color: $color-salmon;
    }
}

// <ToolPage>
.page.toolpage {
    &.loading {cursor: progress;}
}

// <NotFoundSection>
section.notfound {
    background-color: $color-salmon;
    color: $color-white;
}

// <ToolComponent>
main {
    padding: 32px 16px 96px 16px;

    output {
        margin: 32px 0px;
        display: block;
        font-size: 48px;
        line-height: 1.2em;
    }
}

// Mobile
@media(max-width: 600px) {
    // <ToolComponent>
    main {
        output {font-size: 36px;}
    }
}


@import 'toolsearchsection';
