RewriteEngine On
RewriteRule ^about$ index.php
RewriteRule ^contribute$ index.php
RewriteRule ^purpose$ index.php

# Tools
RewriteRule ^bingo-generator$ index.php
RewriteRule ^character-counter$ index.php
RewriteRule ^charades-generator$ index.php
RewriteRule ^combinations-generator$ index.php
RewriteRule ^exam-timer$ index.php
RewriteRule ^pearson-correlation-coefficient-calculator$ index.php
RewriteRule ^permutations-generator$ index.php
RewriteRule ^pictionary-generator$ index.php
RewriteRule ^random-number-generator$ index.php
RewriteRule ^recipe-converter$ index.php

ErrorDocument 404 /index.php
