RewriteEngine On
RewriteRule ^about$ index.php
RewriteRule ^contribute$ index.php
RewriteRule ^purpose$ index.php

# Tools
RewriteRule ^character-counter$ index.php
RewriteRule ^charades-generator$ index.php
RewriteRule ^pearson-correlation-coefficient-calculator$ index.php
RewriteRule ^pictionary-generator$ index.php
RewriteRule ^random-number-generator$ index.php

ErrorDocument 404 /index.php
